.top-section{
  background-image: url(./Images/back1.jpg);
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.navbar{
  transition:900ms ease;
}
.nav-link{
  color: rgb(55, 163, 167) !important;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}
.navbar-brand{
  letter-spacing: 2px;
  color: rgb(55, 163, 167) !important;
}
.active{
  border-bottom: 2px solid rgb(55, 163, 167) !important;
  font-weight: 600;
}
@media only screen and (max-width: 768px){
  nav {
    background-color: rgba(255,255,255,0.95) !important;
  }
}
.fl-fl {
  text-align: left;
  background: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px;
  width: 210px;
  position: fixed;
  right: -160px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.side-nav .fa {
  font-size: 22px;
  color: #fff;
  padding: 12px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}
.float-lk {
  top: 170px;
}
.float-fb {
  top: 220px;
}
.float-tw {
  top: 270px;
}
.float-mail {
  top: 320px;
}
.float-git {
  top: 370px;
}

@media only screen and (max-width: 700px){
  .side-nav{
    display: none;
  }
}
/* Floating Social Media Bar Style Ends Here */
#home{
  height: 720px;
}
.inner-home{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner-home h1{
    font-size: 80px;
}
@media only screen and (max-width: 500px) {
  .inner-home h1{
    font-size: 60px;
  }
}
.inner-home p{
  font-size: 20px;
  border-bottom: 1px solid grey;
}
.inner-home small{
  font-size: 20px;
}
.social a{
  color: silver
}
.social a:hover{
  color: rgb(92, 116, 250);
}
.down-arrow{
  bottom: 0;
}
.console{
  background: #ccc;
  height: 1020px;
}
.code{
  height: 65%;
  width: 50%;
  padding: 40px;
  margin-top: 12%;
  background: #383737; 
  border: 10px solid darkgrey;
}
.code .answer{
  color: #ccc;
}
@media only screen and (max-width: 1400px) {
  .console{
    height: 800px;
  }
  .console .code{
    width: 80%;
    height: 80%;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 700px) {
  .console{
    height: 760px;
  }
  .console .code{
    width: 90%;
    height: 90%;
  }
  .code{
    padding:30px 20px;
  }
}

#resume{
  font-size: 17px;
  line-height: 40px;
}
.resume-heading{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 40px;
  -webkit-box-shadow: 0 9px 6px -6px grey;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 9px 6px -6px grey;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 9px 6px -6px grey;
}
.name{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 30px;
}
.section-education{
  width: 60%;
  font-size: 17px;
}
.resume-education{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 25px;
}
@media only screen and (max-width: 1200px) {
  .section-education{
    width: 70%;
  }
}
@media only screen and (max-width: 800px) {
  .section-education{
    width: 85%;
  }
}
.skill{ 
  border-radius: 10%;
}
#internship{
  font-size: 17px;
  line-height: 30px;
}